:root {
    --green: #49AA26;
    --lightgreen: #3dd705;
    --red: #e92929;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 93.75%;
}

body {
    background-color: rgb(201, 199, 206);
    font-family: 'imbue';
}

header {
    text-align: center;
    background-color: rgb(54, 52, 52);
    padding: 2rem 0 8rem;
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}


/*main----------*/
.container {
    width: min(90vw, 800px);
    margin: auto;
}

/* Titles ------ */
h2 {
    margin-top: 3.0rem;
    margin-bottom: 0.8rem;
    color: rgb(66, 64, 64);
    font-weight: normal;
}

/*links and buttons*/

a {
    color: var(--green);
    text-decoration: none;
}

a:hover {
    color: var(--lightgreen);
}


.button.new {
    display: inline-block;
    margin-bottom: 0.8rem;
}
button {
    width: 100%;
    height: 50px;
    border: none;
    color: white;
    background: var(--green);
    padding: 0;
    border-radius: 0.25rem;
    cursor: pointer;
}

button:hover {
    background: var(--lightgreen);
}


.button.cancel {
    color: var(--red);
    border:2px var(--red) solid;
    border-radius: 0.25rem;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content:center;
    opacity: 0.6;
}
.button.cancel:hover{
    opacity: 1;
}


/*section--------*/
#balance {
    margin-top: -6rem;
}

#balance h2{
    color: rgb(217, 226, 243);
    margin-top: 0%;
}

#transactions{
    display: block;
    width: 100%;
    overflow-x: auto;
}

/*cards---------*/
.card {
    background-color: whitesmoke;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    color: rgb(54, 52, 52)
}
.card h3 {
    font-weight: normal;
    font-size: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    
}

.card p {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1rem;
}

.card.total {
    background-color: rgb(92, 190, 46);
    color:whitesmoke;
}

/*data-table------------*/
#data-table {
    
    width: 100%;
    border-spacing: 0 0.5rem;
    color: rgb(0, 0, 0);
    
}

table th {
    background-color: rgb(231, 234, 240);
    opacity: 0.6rem;
    color: rgb(110, 107, 107);
    padding: 1rem 2rem;
    text-align: left;
    border-radius: 0.3rem 0 0.3rem 0;
}
table tbody tr  {
    opacity: 0.7
}

table tr:hover{
    opacity:1 
}

table td {
    background-color: rgb(231, 234, 240);
    padding: 1rem 2rem;
    text-align: left;
    border-radius: 0.2rem 0 0.2rem 0;
}

td.description {
    color:rgb(0, 0, 0) ;
}

td.income{
    color:rgb(24, 189, 24)
}

td.expense{
    color: red;
}

td.date {
    color: rgb(82, 70, 250);
}

/*modal-------------*/

.modal-overlay {
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.7);

position: fixed;
top: 0;
display: flex;

align-items: center;
justify-content: center;

opacity: 0;
visibility: hidden;
z-index: 999;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    background: #f0f2f5;
    padding: 2.4rem;
    z-index: 1;
}

/*form --------------------*/

#form {
    max-width: 500px;
}

#form h2 {
    margin-top: 0;
}

input {
    border: none;
    border-radius: 0.2rem;
    padding: 0.8rem;
    width: 100%;
}
.input-group {
    margin-top: 0.8rem;
}

.input-group small {
    opacity: 0.4;
}

.input-group.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    
}


.input-group.actions .button,
.input-group.actions button {
    width: 48%;
}
    

/*roda pé----------*/
footer {
    text-align: center;
    margin-top: 1.2rem ;
    margin-bottom: 1rem;
    opacity: 0.6;
} 

/*responsive-----------------*/
@media (min-width: 800px) {
    html {
        font-size: 87.5%;
    }
    #balance {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }
}